#register-form{
	display:flex;
	flex-direction: column;
	width: 500px;
	margin: auto;
}
#register-form ol{
	list-style-type: none;
	padding:20px;
}
#register-form ol li{
	float:left;
	margin-right: 20px;
}